/*account button list 영역까지 감싸는 헤더 영역*/

/*account button list 영역까지 감싸는 헤더 영역*/

/*헤더 전체 영역을 감싸고 있는 div 디자인*/
#headerContainer {
    font-size: 18px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
/*헤더 전체 영역을 감싸고 있는 div 디자인*/


/*검색창 디자인*/
#searchTextBox {
    width: 700px;
}

#searchTextContainer {
    font-size: 1em;
    margin: auto;
}

#searchTextContainer button {
    border: 0;
    background-color: white;
}
/*검색창 디자인*/

/*user account 버튼 디자인*/
#accountBtnContainer {
    position: relative;
}

#accountBtn {
    width: 9em;
    padding: 5px;
    position: absolute;
    right: 5em;
    font-size: 1em;
}
/*user account 버튼 디자인*/

/*메인 로고 디자인*/
#mainLogoContainer {
    font-size: 1.3em;
}

#mainLogo {
    margin-left: 3em;
}
/*메인 로고 디자인*/

/*로그인/회원가입 디자인*/
#userBtnContainer {
    display: flex;
    justify-content: flex-end;
}

#userBtnContainer:nth-last-child(1) {
    margin-right: 2em;
}

#userBtnContainer * {
    margin-right: 2em;
}
/*로그인/회원가입 디자인*/

/*account 버튼 클릭 시 표시되는 리스트 디자인*/
#accountBtnClickList {
    visibility: hidden;
    float: right;
    margin-right: 1.3em;
    width: 7em;
    margin-top: 1em;
}
/*account 버튼 클릭 시 표시되는 리스트 디자인*/