/* Main 전체 영역을 감싸는 영역 디자인 */
#mainContainer {
    border: 1px solid black;
    min-height: 100vh;
}
/* Main 전체 영역을 감싸는 영역 디자인 */

/* game rank를 보여주는 Carousel 영역을 감싸는 영역 디자인 */
#gameRankContainer {
    background-color: #DAEAF1;
    margin: auto;
    margin-top: 3em;
    width: 90vw;
    height: 40vh;
}
/* game rank를 보여주는 Carousel 영역을 감싸는 영역 디자인 */

/*  */